<div id="sidebar">

<div class="box">
    <%include file="/sidebar_widgets/release.mako"/>
</div>

<div class="box banner">
    <%include file="/sidebar_widgets/datacamp.mako"/>
</div>

<div class="box banner">
    <%include file="/sidebar_widgets/bannerad.mako"/>
</div>

<div class="box donate">
    <%include file="/sidebar_widgets/donate.mako"/>
</div>

<div class="box">
    <%include file="/sidebar_widgets/news.mako"/>
</div>

<div class="box">
    <%include file="/sidebar_widgets/follow.mako"/>
</div>




</div> <!-- end #sidebar -->
